body {
	background-color: #935d8c;
	background-image: url("https://cdn.jsdelivr.net/gh/GamerNoTitle/Picture-repo-v1@master/css/images/overlay.png"), -moz-linear-gradient(45deg, #6DD0F2 15%, #F59ABE 85%);
	background-image: url("https://cdn.jsdelivr.net/gh/GamerNoTitle/Picture-repo-v1@master/css/images/overlay.png"), -webkit-linear-gradient(45deg, #6DD0F2 15%, #F59ABE 85%);
	background-image: url("https://cdn.jsdelivr.net/gh/GamerNoTitle/Picture-repo-v1@master/css/images/overlay.png"), -ms-linear-gradient(45deg, #6DD0F2 15%, #F59ABE 85%);
	background-image: url("https://cdn.jsdelivr.net/gh/GamerNoTitle/Picture-repo-v1@master/css/images/overlay.png"), linear-gradient(45deg, #6DD0F2 15%, #F59ABE 85%);
}

	body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}